html, body {
  height: 100%;
  width: 100%;
  margin: 20px;
}
body {
  font-family: 'Shantell Sans', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}
.page-container {
  margin-top: 60px;
}
header .row div {
  background-color: #66b1f5;
}
.btn-primary {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-family: inherit;
  font-size: 40px;
  text-transform: capitalize;
  background-color: #0033ff;
  color: black;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
}
button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s opacity;
}
.list-group-item {
  display: inline-block;
  padding: 0;
}
.modal-body {
  font-size: medium;
  background-color: #66b1f5;
}
@media all and (max-width: 1800px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}