body {
  margin: 20px;
  padding: 10px;
  font-family: 'Shantell Sans', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}
.page-container {
  margin-top: 90px;
}
header .row div {
  background-color: #66b1f5;
}
.navbar-brand {
  font-size: 2rem;
}
.btn-primary {
  font-family: inherit;
  font-size: 30px;
  text-transform: capitalize;
  background-color: #0033ff;
  color: black;
  border: 2px solid black;
  outline: none;
}
.btn {
  width: 100%;
  height: 100%;
}
.list-group-item {
  padding: 0;
  margin: 0;
}
button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s opacity;
}
.modal-body {
  font-size: medium;
  background-color: #66b1f5;
}
.pokemon-list{
  list-style-type: none;
  /*----Start grid fallback----*/
  display: flex; 
  flex-wrap: wrap;
  /*----End grid fallback----*/
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}
@media all and (max-width: 1080px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}
@media all and (max-width: 320) {
  .pokemon-list{
    grid-template-columns: 1fr;
    gap: 40px;
  }
}