* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Shantell Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
/*button*/
.button-class {
  display: inline-block;
  font-family: inherit;
  background-color: lightblue;
  color: black;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
}
button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s opacity;
}
/*end of button*/